@import "tailwind-preset-mantine";
@import "@mantine/carousel/styles.css";

body {
  /* TODO */
  /*
   * Light Mode Background: #f1f0f0
  */
  /* background: #242424; */
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(
      at 88.486750348675035% 89.9876390605686%,
      #1c7dd6 0px,
      transparent 3%
    ),
    radial-gradient(
      at 3.486750348675035% 89.9876390605686%,
      #1c7dd6 0px,
      transparent 4%
    ),
    radial-gradient(
      at 8.486750348675035% 79.9876390605686%,
      #0ca678 0px,
      transparent 3%
    ),
    radial-gradient(
      at 40.486750348675035% 55.9876390605686%,
      #1c7dd6 0px,
      transparent 8%
    ),
    radial-gradient(
      at 2.486750348675035% 25.9876390605686%,
      #1c7dd6 0px,
      transparent 7%
    ),
    radial-gradient(
      at 48.486750348675035% 59.9876390605686%,
      #0ca678 0px,
      transparent 6%
    ),
    radial-gradient(
      at 97.30264993026499% 30.2360939431396787%,
      #0ca678 0px,
      transparent 10%
    );
  /* #242424; */
  mix-blend-mode: normal;
  filter: blur(100px);
  z-index: -1;
  pointer-events: none;
}
